<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tumblk</title>
</head>
<body>
<h1>tumblk</h1>
<img src="static/tumblk.png" alt="tumblk logo" width="256">
<p>simple tumblr blocking tool it will authenticate using oauth2 to tumblr API and then let you paste a list of blog names to block</p>
<p>The auth is only for the session so if you close the browser you will need to re-auth also maybe if you block cookies it won't work either</p>
<a href="/auth">allow access to tumblr</a>
<p>the following link will make me forget the auth from my session</p>
<a href="/logout">logout</a>
</body>
</html>
